body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.hero {
    padding: 40px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
